{%extends 'feeds/index.html'%}

{%block breadcrumb %}
          <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/">Home</a>
            <a class="breadcrumb-item" href="{% url "planet:home" %}">Feeds</a>
            <a class="breadcrumb-item" href="{% url "planet:feed-home" %}">Feeds</a>
            <a class="breadcrumb-item" href="{% url "planet:category-home" %}">Categories</a>
            {% if object %}<a class="breadcrumb-item" href="{% url "planet:category-detail" object.slug %}">{{ object.title }}</a> {% endif %}
            <span class="breadcrumb-item active">You are here</span>
          </nav>
{%endblock%}

{%block content%}

<div class="row">
    <div class="col-md">
        <h3>
            {{object}}
            {% if user.is_authenticated %}
              {% if perms.feeds.change_category %}<a href="{{object.get_absolute_url}}update" class="btn btn-sm category-tooltip" title="edit category"><i class="fas fa-edit"></i></a>{% endif %}
              {% if perms.feeds.delete_category %}<a href="{{object.get_absolute_url}}delete" class="btn btn-sm category-tooltip" title="delete category"><i class="fas fa-trash"></i></a>{% endif %}
            {% endif %}
        </h3>
    </div>
    <div class="col-md">
        <table class="table table-condensed table-hover">
            <tr>
                <td>Feed</td>
                <td>Posts</td>
                {% if user.is_authenticated %}
                <td>Options</td>
                {% endif %}
            </tr>
            {% for feed in object.category_feeds.all %}
            <tr>
                <td><a href="{{ feed.get_absolute_url }}">{{ feed }}</a></td>
                <td>{{ feed.posts.count }}</td>
                {% if user.is_authenticated %}
                <td>
                  <a href="{{ feed.get_absolute_url }}" class="btn btn-mini category-tooltip" title="Go to feed"><i class="icon-step-forward"></i></a>
                    {% if perms.feeds.change_feed %}<a href="{{o.get_absolute_url}}update" class="btn btn-mini category-tooltip" title="edit feed"><i class="icon-edit"></i></a>{% endif %}
                    {% if perms.feeds.delete_feed %}<a href="{{o.get_absolute_url}}delete" class="btn btn-mini category-tooltip" title="delete feed"><i class="icon-trash"></i></a>{% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{%endblock%}


{% block additional_scripts_end %}
    <script defer src="{{ STATIC_URL }}feeds/category_detail.js"> </script>
{% endblock %}
