{%extends 'feeds/index.html'%}
{% load feed_extra %}
{% load el_pagination_tags %}
{% load static from staticfiles %}

{% block additional_scripts_start %}
  <link rel="stylesheet" type="text/css" hrf="{{ STATIC_URL }}jqplot/jquery.jqplot.min.css" />
{% endblock %}

{% block title %}
Feed: {{ feed }}
{% endblock %}

{%block breadcrumb %}
          <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider"></span></li>
            <li><a href="{% url "planet:feed-home" %}">Feeds</a> <span class="divider"></span></li>
            <li><a href="{% url "planet:feed-view" object.id %}">{{ feed }}</a> <span class="divider"></span></li>
            <li class="active">You are here</li>
          </ul>
{%endblock%}

{%block content%}
<div class="row">
  <div class="col-md-8">
    <h3> {{object}}
    </h3>
  </div>
  <div class="col-md-4">
    <small> {% feed_controls object %} </small>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <a href="{{object.feed_url}}">
      <img src="{% static "feeds/icons/rss-480px.png" %}" width="16" height="16">
    </a>
  </div>
  <div class="col-md-4">
    <p>Refreshed: {{object.last_checked}}</p>
    <p>Errors: {{object.errors}}</p>
  </div>
  <div class="col-md-6">
    <canvas id="chart"  width="600" height="240"></canvas>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% paginate posts as post_list %}
    <ul>
    {% for post in post_list %}
    <li><h5>
        {% if post.author %}{{ post.author }} wrote: {% endif %}
        <a href="{{ post.get_absolute_url }}">{{ post }}</a>
      <small>{{ post.published }}</small></h5></li>
    {% endfor %}
    {% show_pages %}
    </ul>
  </div>
</div>
{%endblock%}


  {% block additional_scripts_end %}
    <script defer src="{{ STATIC_URL }}feeds/feed_detail.js"> </script>
  {% endblock %}
