{%extends 'feeds/index.html'%}
{% load humanize %}
{% load feed_extra %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "feeds/feed_detail.css" %}"/>
{% endblock %}

{% block title %}
Feed: {{ feed }}
{% endblock %}

{%block breadcrumb %}
          <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/">Home</a>
            <a class="breadcrumb-item" href="{% url "planet:home" %}">Feeds</a>
            <a class="breadcrumb-item" href="{% url "planet:feed-detail" object.id %}">{{ feed }}</a>
            <span class="breadcrumb-item active">You are here</span>
          </nav>
{%endblock%}

{%block content%}
<div class="row">
  <div class="col-md">
    <h3>
      <a href="{{object.feed_url}}">
        <img src="{% static "feeds/icons/rss-480px.png" %}" width="16" height="16">
      </a>
      {{object}}
    </h3>
  </div>
  <div class="col-md">
    <small> {% feed_controls object %} </small>
  </div>
</div>
<div class="row">
  <div class="col-md">
  </div>
  <div class="col-md">
    <p><div class="badge badge-primary">Refreshed</div> {{ object.last_checked|naturaltime }}</p>
    <p><div class="badge badge-primary">Errors</div> {{object.errors }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md">
    {# paginate posts as post_list #}
    <ul class="timeline">
    {% for post in posts %}
      <li>
        <p>
          {% if post.author %}{{ post.author }} wrote: {% endif %}
          <a href="{{ post.get_absolute_url }}">{{ post }}</a>
          <small class="float-right">{{ post.published }}</small>
        </p>
        <p>
          {% for tag in e.tags %}
            <span class="badge badge-info">{{ tag.term }}</span>
          {% endfor %}
        </p>
      </li>
    {% endfor %}
    {# show_pages #}
    </ul>

  </div>
</div>
{%endblock%}


  {% block additional_scripts_end %}
    <script defer src="{{ STATIC_URL }}feeds/feed_detail.js"> </script>
  {% endblock %}
