{% extends "feeds/index.html" %}
{% load i18n %} {% get_current_language as LANGUAGE_CODE %}
{% load feed_extra %}


{% block content %}

<div class="jumbotron well">
  <h1>Feeds</h1>
  <div class="row">
    <div class="col-md-4">
{% blocktrans %}
Feeds comes still in the afterwaves of the closure of <i>Google Reader</i>. Even if it does not have the features and usability of the original Google product, it aims to allow for individual installation at a comparable feature-set.
{% endblocktrans %}
    </div>
    <div class="col-md-4">
      {% if request.user|has_group:"feeds" %}
      {% else %}
      {% blocktrans %}
      Please consider becoming a beta tester.
        {% endblocktrans %}
      {% endif %}
    </div>
    <div class="col-md-4">
      {% top5 "daily" as top5 %}
      <ul>
        {% for post in top5 %}
        <li><a href="{{post.get_absolute_url}}">{{post}}</a>{{post.score}}</li>
        {% endfor %}
      </ul>
    </div>
</div>
<a href="https://github.com/aneumeier"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</div>

<div class="row-fluid">
<div class="col-md-8 col-md-offset-4">
<a href="{% url "planet:site-submit" %}" class="btn btn-mini btn-primary">{% trans "Submit a Site" %}</a>
<a href="{% url "planet:feed-home" %}" class="btn btn-mini btn-info">{% trans "Feeds overview" %}</a>
<a href="{% url "category:category-home" %}" class="btn btn-mini btn-info">{% trans "Category overview" %}</a>
<a href="{% url "category:tag-home" %}" class="btn btn-mini btn-info">{% trans "Tags overview" %}</a>
</div>
</div>
{% endblock %}
