{% extends "base.html" %}

{%block breadcrumb %}
          <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/">Home</a>
            <a class="breadcrumb-item" href="{% url "planet:home" %}">Feeds</a>
            <span class="breadcrumb-item active">You are here</span>
          </nav>
{%endblock%}

{% block appmenu %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-tabs justify-content-between">
    <a class="navbar-brand" href="{% url "planet:home" %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#feedsMainMenu" aria-controls="feedsMainMenu" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar navbar-collapse" id="feedsMainMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Websites<span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url "planet:website-home" %}">Home</a>
            <a class="dropdown-item" href="{% url "planet:website-submit" %}">Submit</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Feeds<span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url "planet:feed-home" %}">Feeds</a>
            <a class="dropdown-item" href="{% url "planet:feed-subscriptions" %}">Feed Subscriptions</a>
            <a class="dropdown-item" href="{% url "planet:post-home" %}">Posts</a>
            <a class="dropdown-item" href="{% url "planet:post-subscription-home" %}">Subscribed Posts</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Categories<span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="{% url "planet:category-home"%}">Categories</a>
          </div>
        </li>
        <li class="nav-link"><a href="{% url "planet:options"%}">Options</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{%block content%}
{%endblock%}

{% block additional_scripts_end %}
{% endblock %}
