{% extends "base.html" %}

{%block breadcrumb %}
          <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider"></span></li>
            <li><a href="{% url "planet:home" %}">Feeds</a> <span class="divider"></span></li>
            <li class="active">You are here</li>
          </ul>
{%endblock%}

{% block appmenu %}
<ul class="nav nav-tabs nav-justified">
    <li><a href="{% url "planet:home" %}">Home</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Feeds<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <a href="{% url "planet:feed-home" %}">Home</a>
        </ul>
    </li>
    <li><a href="{% url "planet:category-home"%}">Categories</a></li>
</ul>
{% endblock %}

{%block content%}
{%endblock%}

{% block additional_scripts_end %}
{% endblock %}




