{% extends "base.html" %}

{%block breadcrumb %}
          <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider"></span></li>
            <li><a href="{% url "planet:home" %}">Feeds</a> <span class="divider"></span></li>
            <li class="active">You are here</li>
          </ul>
{%endblock%}

{% block appmenu %}
<div class="row">
    <ul class="nav nav-tabs" role="tablist">
    <li><a href="{% url "planet:home" %}">Home</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Feeds<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url "planet:feed-home" %}">Home</a></li>
            <li><a href="{% url "planet:feed-subscriptions" %}">Subscriptions</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Posts<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url "planet:post-home" %}">Home</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Categories<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url "planet:category-home"%}">Categories</a></li>
        </ul>
          <li><a href="{% url "planet:options"%}">Options</a></li>
        </li>
    </ul>
</div>
{% endblock %}

{%block content%}
{%endblock%}

{% block additional_scripts_end %}
{% endblock %}




