{% extends "feeds/index.html" %}
{% load feed_extra %}
{% load more_like_this %}

{%block breadcrumb %}
          <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider"></span></li>
            <li><a href="{% url "planet:feed-home" %}">Feeds</a> <span class="divider"></span></li>
            <li><a href="{% url "planet:feed-view" node.feed.id %}">{{ node.feed.shortname }}</a> <span class="divider"></span></li>
            <li class="active">You are here</li>
          </ul>
{%endblock%}

{% block title %}
{{ node.title }}
{% endblock %}

{% block additional_scripts_start %}
<link rel="canonical" href="/{{node.id}}" />
{% endblock %}

{% block content %}
<script src="http://angry-planet.com/star/script.js" type="text/javascript"></script>
<div id="angry-planet-star"></div>

<div itemscope itemtype="http://schema.org/Article" class="row">
  <div class="col-md-8">
    <h5>{{ node.updated }}</h5>
    <h2><a href="{{node.link}}" itemprop="headline">{{ node.title }}</a></h2>
    <p>via: <a href="{{node.feed.link}}" itemprop="url">{{node.feed.name}}</a></p>
    {% if node.tags %}
    <p>
    <meta itemprop="keywords">
    {% for t in node.tags.all %}<a href="{{ t.get_absolute_url }}">{{t}}</a>
    {% endfor %}
    </meta></p>
    {% endif %}
    <!-- {# node.content|safe #} -->
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
      {% social node %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% more_like_this node as related_content limit 5 %}
        {% if related_content %}
        <h2>Related</h2>
        <ul>
          {% for obj in related_content %}
            <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
          {% endfor%}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div> <!-- itemscope -->
<hr>
{% endblock %}

