{% extends "feeds/index.html" %}
{% load static %}
{% load feed_extra %}


{%block breadcrumb %}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="{% url "planet:home" %}">Feeds</a>
  <a class="breadcrumb-item" href="{% url "planet:feed-detail" object.feed.id %}">{{ object.feed.name }}</a>
  <a class="breadcrumb-item" href="{% url "planet:post-detail" object.id %}">{{ object.published }}</a>
<span class="breadcrumb-item active">You are here</span>
</nav>
{%endblock%}

{% block title %}
{{ node.title }}
{% endblock %}

{% block additional_scripts_start %}
<link rel="canonical" href="/{{object.id}}" />
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Article" class="row">
  <div class="col-md-7">
    <h5>{{ object.published }}</h5>
    <h2><a href="{{object.link}}" itemprop="headline">{{ object.title }}</a></h2>
    <p>via: <a href="{{object.feed.link}}" itemprop="url">{{object.feed.name}}</a></p>
    {% if object.tags %}
    <p><meta itemprop="keywords">
      {% for t in object.tags.all %}
        <span class="badge badge-info"><a href="{{ t.get_absolute_url }}">{{t}}</a></span>
      {% endfor %}
    </meta></p>
    {% endif %}
    <!-- {# node.summary|safe #} -->
  </div>
  <div class="col-md-5"a>
    <p>{% if object.categories %}
      {% for c in object.categories.all %}
      <span class="badge badge-info"><a
            href="{{c.get_absolute_url}}">{{c}}</a></span>
      {% endfor %}
    {% endif %}</p>
    <p>
        <!-- {# more like_this object as related_content limit 5 #} -->
        {% if related_content %}
        <h2>Related</h2>
        <ul>
          {% for obj in related_content %}
            <li><a href="{{ obj.get_absolute_url }}">{{ obj.object }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
    </p>
  </div>
</div> <!-- itemscope -->
<hr>
{% endblock %}
