{% extends "feeds/index.html" %}
{% load i18n %}
{% load el_pagination_tags %}

{% block content %}
{% include "feeds/paginator.html"%}

{% paginate object_list %}

{% for node in object_list %}
<div class="row">
    <div class="col-md-2">
      <small>
        <a href="{{node.feed.link}}" alt="{{node.feed.title}}">{{node.feed.title}}</a>
      </small>
    </div>
    <div class="col-md-6">
      <small><a href="{{node.get_absolute_url }}">{{ node.title }}</a></small>
    </div>
    <div class="col-md-2">
      <small>{{ node.published }}</small>
    </div>
    <div class="col-md-2">
      <small>{{ node.score }}</small>
    </div>
</div>
{% endfor %}

{% show_pages %}

{% endblock %}
