{% extends "feeds/index.html" %}
{% load i18n %}
{% load el_pagination_tags %}
{% load static from staticfiles %}

{% block css %}
<link href="{% static "feeds/post_list_page.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
      <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="{% url "planet:feed-home" %}">Feeds</a> <span class="divider"></span></li>
        <li><a href="{% url "planet:post-home" %}">Posts</a> <span class="divider"></span></li>
        <li class="active">You are here</li>
      </ul>
{% endblock %}


{% block content %}
{% include page_template %}
{% endblock %}


{% block js %}
<script src={% static "el-pagination/js/el-pagination.js" %}></script>
<script>
    $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollChunkSize: 5
    });
</script>
{% endblock %}
