{% extends "feeds/index.html" %}
{% load static %}
{% load feed_extra %}
{% load more_like_this %}


{%block breadcrumb %}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="{% url "planet:home" %}">Feeds</a>
  <a class="breadcrumb-item" href="{% url "planet:feed-detail" object.feed.id %}">{{ object.feed.name }}</a>
  <a class="breadcrumb-item" href="{% url "planet:post-detail" object.id %}">{{ object.published }}</a>
<span class="breadcrumb-item active">You are here</span>
</nav>
{%endblock%}

{% block title %}
{{ node.title }}
{% endblock %}

{% block additional_scripts_start %}
<link rel="canonical" href="/{{object.id}}" />
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Article" class="row">
  <div class="col-md-7">
    <h5>{{ object.published }}</h5>
    <h2><a href="{{object.link}}" itemprop="headline">{{ object.title }}</a></h2>
    <p>via: <a href="{{object.feed.link}}" itemprop="url">{{object.feed.name}}</a></p>
    {% if object.tags %}
    <p>
    <meta itemprop="keywords">
    {% for t in object.tags.all %}<a href="{{ t.get_absolute_url }}">{{t}}</a>
    {% endfor %}
    </meta></p>
    {% endif %}
    <!-- {# node.summary|safe #} -->
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
      {# social object #}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- rating -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% more_like_this object as related_content limit 5 %}
        {% if related_content %}
        <h2>Related</h2>
        <ul>
          {% for obj in related_content %}
            <li><a href="{{ obj.get_absolute_url }}">{{ obj.object }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div> <!-- itemscope -->
<hr>
{% endblock %}
