{% load i18n %}
{% load el_pagination_tags %}
{% load humanize %}
{% load static from staticfiles %}

{% paginate object_list %}

{% for node in object_list %}

<div class="row">
    <div class="col-md-1">
      <div class="row">
          <div class="col-md-12">
            <a href="{{ node.feed.get_absolute_url }}" alt="{{node.feed.title}}">
              {% if node.feed.logo %}
              <img src="{{ node.feed.logo }}" width="48" height="48">
              {% else %}
              <img src="{% static "feeds/icons/rss-480px.png" %}" width="48" height="48">
              {% endif %}
            </a>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          <small >score {{ node.score }}</small>
        </div>
      </div>
    </div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-12">
                <h6>
                  {% if node.author %}
                    <small> {{ node.author }} @ </small>
                  {% endif %}
                  <a href="{{ node.feed.get_absolute_url }}" alt="{{node.feed.title}}">
                    {{node.feed.title}}
                  </a>
                  <small data-toggle="tooltip" data-placement="top" title="{{ node.published }}">
                      {{ node.published|naturaltime }}
                   </small>
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<hr>
{% endfor %}

{% show_more %}
