{%extends 'feeds/index.html'%}

{%block breadcrumb %}
          <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url "planet:feed-home" %}">Feeds</a> <span class="divider">/</span></li>
            <li><a href="{% url "planet:site-home" %}">Site</a> <span class="divider">/</span></li>
            {% if object %}<li><a href="{% url "planet:site-view" object.pk %}">{{ object }}</a> <span class="divider">/</span></li>{% endif %}
            <li class="active">You are here</li>
          </ul>
{%endblock%}

{%block content%}
<div class="row">
    <div class="span4">
        <h3>
            {{object}}
            {% if user.is_authenticated %}
              {% if perms.feeds.change_site %}<a href="{{object.get_absolute_url}}update" class="btn btn-mini site-tooltip" title="edit site"><i class="icon-edit"></i></a>{% endif %}
              {% if perms.feeds.delete_site %}<a href="{{object.get_absolute_url}}delete" class="btn btn-mini site-tooltip" title="delete site"><i class="icon-trash"></i></a>{% endif %}
            {% endif %}
        </h3>
    </div>
    <div class="span8">
    {% for feed in object.feeds %}
     {{ feed }}
    {% endfor %}
    </div>
</div>
{%endblock%}


{% block additional_scripts_end %}
    <script defer src="{{ STATIC_URL }}feeds/site_detail.js"> </script>
{% endblock %}


