{%extends 'feeds/index.html'%}

{%block breadcrumb %}
          <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url "planet:feed-home" %}">Feeds</a> <span class="divider">/</span></li>
            <li><a href="{% url "planet:tag-home" %}">Tags</a> <span class="divider">/</span></li>
            {% if object %}<li><a href="{% url "planet:tag-view" object.slug %}">{{ object.name }}</a> <span class="divider">/</span></li>{% endif %}
            <li class="active">You are here</li>
          </ul>
{%endblock%}

{%block content%}
<div class="row">
    <div class="span4">
        <h3>
            {{object}}
            {% if user.is_authenticated %}
              {% if perms.feeds.change_tag %}<a href="{{object.get_absolute_url}}update" class="btn btn-mini tag-tooltip" title="edit tag"><i class="icon-edit"></i></a>{% endif %}
              {% if perms.feeds.delete_tag %}<a href="{{object.get_absolute_url}}delete" class="btn btn-mini tag-tooltip" title="delete tag"><i class="icon-trash"></i></a>{% endif %}
            {% endif %}
        </h3>
    </div>
    <div class="span7">
        <table class="table table-condensed table-hover">
            <tr><td>Article</td><td>Options</td></tr>
            {% for post in object.posts %}
            <tr>
                {% if user.is_authenticated %}
                    <td><a href="{{ post.get_absolute_url }}">{{ post }}</a></td>
                {% else %}
                    <td>{{ post }}</td>
                {% endif %}
                <td>
    {% if user.is_authenticated %}
      <a href="{{ post.get_absolute_url }}" class="btn btn-mini tag-tooltip" title="Go to Post"><i class="icon-step-forward"></i></a>
    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{%endblock%}


{% block additional_scripts_end %}
    <script defer src="{{ STATIC_URL }}feeds/tag_detail.js"> </script>
{% endblock %}


