{%extends 'feeds/index.html'%}

{%block breadcrumb %}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="{% url "planet:home" %}">Feeds</a>
  <a class="breadcrumb-item" href="{% url "planet:website-home" %}">Websites</a>
  <a class="breadcrumb-item" href="{% url "planet:website-detail" object.pk %}">{{ object }}</a>
  <span class="breadcrumb-item active">You are here</span>
</nav>
{%endblock%}

{%block content%}
<div class="row">
    <div class="col-4 col-md-4">
        <h4>{{object}}</h4>
            {% if user.is_authenticated %}
              {% if perms.feeds.change_site %}<a href="{{object.get_absolute_url}}update" class="btn btn-mini site-tooltip" title="edit site"><i class="fas fa-edit"></i></a>{% endif %}
              {% if perms.feeds.delete_site %}<a href="{{object.get_absolute_url}}delete" class="btn btn-mini site-tooltip" title="delete site"><i class="fas fa-trash-alt"></i></a>{% endif %}
            {% endif %}
    </div>
    <div class="col-4 col-md-4">
      <h4>Registered Feeds</h4>
    {% for feed in existing %} {# List of `Feed` objects. #}
      <p><a href="{{ feed.get_absolute_url }}">{{ feed.name }}</a></p>
    {% endfor %}
    </div>
    <div class="col-4 col-md-4">
      <h4>Available Feeds</h4>
    {% for feed in new_feeds %} {# list of feeds #}
      <p><a href="{{ feed }}">{{ feed }}</a></p>
    {% endfor %}
    </div>
</div>
{%endblock%}


{% block additional_scripts_end %}
    <script defer src="{{ STATIC_URL }}feeds/site_detail.js"> </script>
{% endblock %}
