{%extends 'feeds/index.html'%}
{% load i18n %}

{%block breadcrumb %}
          <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider"></span></li>
            <li><a href="{% url "planet:feed-home" %}">Feeds</a> <span class="divider"></span></li>
            <li><a href="{% url "planet:website-home" %}">Sites</a> <span class="divider"></span></li>
            <li class="active">You are here</li>
          </ul>
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url "planet:website-add" %}" class="btn btn-xs btn-default active" role="button" data-toggle="tooltip" data-placement="bottom" title="{% trans "Add a new Feed."%}"><span class="glyphicon glyphicon-plus-sign"></span>{% trans "Add Feed" %}</a>
    </div>
</div>

{% include "feeds/partials/paginator.html"%}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <table class="table table-striped table-condensed">
            {% for o in object_list %}
                <tr>
                    <td><a href="{{o.get_absolute_url}}">{{ o }}</a></td>
                    <td>
                        {% if user.is_authenticated %}
                            {% if perms.feeds.change_site %}<a href="{{o.get_absolute_url}}update" class="btn btn-mini"><i class="icon-edit"></i></a>{% endif %}
                            {% if perms.feeds.delete_site %}<a href="{{o.get_absolute_url}}delete" class="btn btn-mini"><i class="icon-trash"></i></a>{% endif %}
                      {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
