{% load i18n %}
<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# angryplanet: http://ogp.me/ns/fb/angryplanet#">
    <title> {% block title %} {% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block og %}
    {% endblock %}
    {% block basecss %}
    {% endblock %}
    {% block css %}
    {% endblock %}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="container-narrow">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "planet:home" %}">angryplanet</a>
        </div>
      </div>
      <div class="">
      {% block breadcrumbs %}
      {% endblock %}
      {% if messages %}
      <div class="row">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}
      {% endblock %}
      <hr>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <center>
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-2013827925935957";
        /* www.neumeier.org Blog Banner 468x60, Erstellt 17.04.09 */
        google_ad_slot = "1712316090";
        google_ad_width = 468;
        google_ad_height = 60;
        //-->
        </script>
        <script type="text/javascript"
        src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
        </center>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p class="muted credit text-center">&copy; <a href="http://www.angry-planet.de">angry-planet.de</a> ist ein Projekt von <a href="http://andreas.neumeier.org">Andreas Neumeier</a>. Alle Rechte an den Inhalten verbleiben bei den verlinkten Urhebern.</p>
          <p class="muted credit text-center"><a href="https://angry-planet.com/imprint">Impressum</a></p>
        </div>
      </div>
    </div>
    {% block basejs %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    {% block tracking %}
    {% endblock %}
  </body>
</html>

