*.py[co~]
*.swp
*.pyc
*.mo
*.log
dist/*
env/*
log/*
build/*
docs/build/*
feeds.egg-info/*
feeds/migrations/old/*
.coverage
.ropeproject
feeds/.ropeproject
*.pot
.pypirc
django.db
myapp_test
_MAIN_0.toc
