include LICENSE
recursive-include feeds/templates/feeds *
recursive-include feeds/templates *
recursive-include feeds/templatetags *
recursive-include feeds/migrations *
recursive-include feeds/models *
recursive-include feeds/static *
recursive-include feeds *
recursive-include docs/source *
recursive-include docs *
recursive-include tests *
include docs/Makefile
