beautifulsoup4>=4.2.1
django-braces>=1.0.0
django_celery>=3.1.10
django-crispy-forms
djangorestframework
feedparser>=5.1.2
django-haystack
elasticsearch==1.4.0
opml==0.5
requests>=2.2.1
twitter>=1.9.2
pyaml
whoosh
timestring==1.6.2
django-formtools

# Testing
celery>=3.1.10
#MySQL-python>=1.2.5
selenium==2.42.0
