# celery
# django
# django-crispy_forms
# django-formtools
# django-haystack
# django-star_ratings
# feedparser
# star_ratings
# Please see setup.py.
# These requirements are for testing.
pyyaml
whoosh
psycopg2
selenium>=2.52.0,<3.0.0
