celery
crispy_forms
django
django-crispy_forms
django-el_pagination
django-formtools
django-haystack
django-star_ratings
feedparser
star_ratings
whoosh
# Please see setup.py.
# These requirements are for testing.
psycopg2
selenium>=2.52.0,<3.0.0
