<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
<channel>
<title>SPIEGEL ONLINE - Nachrichten</title>
<link>http://www.spiegel.de</link>
<description>Deutschlands führende Nachrichtenseite. Alles Wichtige aus Politik, Wirtschaft, Sport, Kultur, Wissenschaft, Technik und mehr.</description>
<language>de</language>
<pubDate>Mon, 01 Apr 2013 09:20:56 +0200</pubDate>
<lastBuildDate>Mon, 01 Apr 2013 09:20:56 +0200</lastBuildDate>
<image>
<title>SPIEGEL ONLINE</title>
<link>http://www.spiegel.de</link>
<url>http://www.spiegel.de/static/sys/logo_120x61.gif</url>
</image>
<item>
<title>Konflikt mit Nordkorea: Südkorea droht Kim Jong Un mit militärischer Vergeltung</title>
<link>http://www.spiegel.de/politik/ausland/suedkorea-droht-nordkorea-mit-militaerischer-reaktion-a-891877.html#ref=rss</link>
<description>Südkorea eskaliert den Krieg der Worte: Präsidentin Park Geun Hye hat eine massive und rasche militärische Aktion ohne Rücksicht auf politische Überlegungen angekündigt, falls Nordkorea seine Provokationen fortsetzt. Zuvor hatten die USA Tarnkappenjäger in den Süden geschickt.</description>
<pubDate>Mon, 01 Apr 2013 08:16:00 +0200</pubDate>
<guid>http://www.spiegel.de/politik/ausland/suedkorea-droht-nordkorea-mit-militaerischer-reaktion-a-891877.html</guid>
<content:encoded><![CDATA[<img src="http://www.spiegel.de/images/image-479051-thumbsmall-dcas.jpg" hspace="5" align="left" >Südkorea eskaliert den Krieg der Worte: Präsidentin Park Geun Hye hat eine massive und rasche militärische Aktion ohne Rücksicht auf politische Überlegungen angekündigt, falls Nordkorea seine Provokationen fortsetzt. Zuvor hatten die USA Tarnkappenjäger in den Süden geschickt.]]></content:encoded>
<enclosure type="image/jpeg" url="http://www.spiegel.de/images/image-479051-thumbsmall-dcas.jpg"/>
</item>
<item>
<title>Krise der Gemeinschaftswährung: Schwellenländer steigen aus dem Euro aus</title>
<link>http://www.spiegel.de/wirtschaft/entwicklungslaender-kuerzen-euro-reserven-wegen-finanzkrise-a-891876.html#ref=rss</link>
<description>Die Zentralbanken der Schwellenländer flüchten aus dem Euro. Im vergangenen Jahr kürzten die Entwicklungsstaaten den Anteil der Gemeinschaftswährung an ihren Devisen um acht Prozent. Der Dollar bleibt damit unangefochten weltweite Referenzwährung.</description>
<pubDate>Mon, 01 Apr 2013 08:30:00 +0200</pubDate>
<guid>http://www.spiegel.de/wirtschaft/entwicklungslaender-kuerzen-euro-reserven-wegen-finanzkrise-a-891876.html</guid>
<content:encoded><![CDATA[<img src="http://www.spiegel.de/images/image-442980-thumbsmall-byzr.jpg" hspace="5" align="left" >Die Zentralbanken der Schwellenländer flüchten aus dem Euro. Im vergangenen Jahr kürzten die Entwicklungsstaaten den Anteil der Gemeinschaftswährung an ihren Devisen um acht Prozent. Der Dollar bleibt damit unangefochten weltweite Referenzwährung.]]></content:encoded>
<enclosure type="image/jpeg" url="http://www.spiegel.de/images/image-442980-thumbsmall-byzr.jpg"/>
</item>
<item>
<title>Regierungskrise in Rom: Zehn Weise sollen Italiens Blockade lösen</title>
<link>http://www.spiegel.de/politik/ausland/in-italiens-regierungskrise-versagt-die-gesamte-politische-klasse-a-891861.html#ref=rss</link>
<description>Italien kämpft mit der Euro-Krise, doch eine stabile Regierung ist nicht in Sicht. Selbst Staatspräsident Napolitano vertraut den Parteioberen nicht mehr und beauftragt eine Expertengruppe alter Männer, um einen Ausweg aus dem Patt zu finden. Ein Armutszeugnis für die politische Klasse in Rom.</description>
<pubDate>Sun, 31 Mar 2013 20:04:00 +0200</pubDate>
<guid>http://www.spiegel.de/politik/ausland/in-italiens-regierungskrise-versagt-die-gesamte-politische-klasse-a-891861.html</guid>
<content:encoded><![CDATA[<img src="http://www.spiegel.de/images/image-479044-thumbsmall-dyrx.jpg" hspace="5" align="left" >Italien kämpft mit der Euro-Krise, doch eine stabile Regierung ist nicht in Sicht. Selbst Staatspräsident Napolitano vertraut den Parteioberen nicht mehr und beauftragt eine Expertengruppe alter Männer, um einen Ausweg aus dem Patt zu finden. Ein Armutszeugnis für die politische Klasse in Rom.]]></content:encoded>
<enclosure type="image/jpeg" url="http://www.spiegel.de/images/image-479044-thumbsmall-dyrx.jpg"/>
</item>
<item>
<title>Smartphone-Studie: Das Märchen vom anonymen Bewegungsprofil</title>
<link>http://www.spiegel.de/netzwelt/web/mobilfunkspuren-lassen-sich-leicht-menschen-zuordnen-a-891850.html#ref=rss</link>
<description>Die einfache Anonymisierung reicht nicht: Mathematiker zeigen, dass sich Bewegungsprofile von Smartphones viel leichter als gedacht Personen zuordnen lassen. Wenn in Datenbanken Namen und Nummern fehlen, genügt der Abgleich von wenigen Standortinformationen mit anderen Quellen.</description>
<pubDate>Sun, 31 Mar 2013 19:13:00 +0200</pubDate>
<guid>http://www.spiegel.de/netzwelt/web/mobilfunkspuren-lassen-sich-leicht-menschen-zuordnen-a-891850.html</guid>
<content:encoded><![CDATA[<img src="http://www.spiegel.de/images/image-479020-thumbsmall-dtjg.jpg" hspace="5" align="left" >Die einfache Anonymisierung reicht nicht: Mathematiker zeigen, dass sich Bewegungsprofile von Smartphones viel leichter als gedacht Personen zuordnen lassen. Wenn in Datenbanken Namen und Nummern fehlen, genügt der Abgleich von wenigen Standortinformationen mit anderen Quellen.]]></content:encoded>
<enclosure type="image/jpeg" url="http://www.spiegel.de/images/image-479020-thumbsmall-dtjg.jpg"/>
</item>
<item>
<title>Ägyptens TV-Star Bassem Youssef: Ein Komiker als Staatsfeind</title>
<link>http://www.spiegel.de/politik/ausland/bassem-youssef-wird-angeklagt-wegen-beleidigung-von-mursi-und-islam-a-891837.html#ref=rss</link>
<description>Weil er sich über Präsident Mursi und islamistische Prediger lustig gemacht hat, droht dem ägyptischen Komiker Bassem Youssef das Gefängnis. Seinen Termin beim Staatsanwalt machte der TV-Star zum Happening. Der Fall zeigt: Für Regierungskritiker wird die Lage in Ägypten immer brenzliger.</description>
<pubDate>Sun, 31 Mar 2013 15:21:00 +0200</pubDate>
<guid>http://www.spiegel.de/politik/ausland/bassem-youssef-wird-angeklagt-wegen-beleidigung-von-mursi-und-islam-a-891837.html</guid>
<content:encoded><![CDATA[<img src="http://www.spiegel.de/images/image-478959-thumbsmall-gbvm.jpg" hspace="5" align="left" >Weil er sich über Präsident Mursi und islamistische Prediger lustig gemacht hat, droht dem ägyptischen Komiker Bassem Youssef das Gefängnis. Seinen Termin beim Staatsanwalt machte der TV-Star zum Happening. Der Fall zeigt: Für Regierungskritiker wird die Lage in Ägypten immer brenzliger.]]></content:encoded>
<enclosure type="image/jpeg" url="http://www.spiegel.de/images/image-478959-thumbsmall-gbvm.jpg"/>
</item>
<item>
<title>Paolo Di Canio: Bekennender Faschist trainiert Premier-League-Club</title>
<link>http://www.spiegel.de/sport/fussball/premier-league-di-canio-neuer-trainer-in-sunderland-a-891874.html#ref=rss</link>
<description>Der FC Sunderland stärkt den rechten Flügel: Der abstiegsbedrohte Premier-League-Club hat als Trainer Paolo Di Canio verpflichtet. Der Italiener hat einen zweifelhaften Ruf; während seiner aktiven Karriere jubelte er mit Hitlergruß und sagte: "Ich bin ein Faschist, aber kein Rassist."</description>
<pubDate>Mon, 01 Apr 2013 09:01:00 +0200</pubDate>
<guid>http://www.spiegel.de/sport/fussball/premier-league-di-canio-neuer-trainer-in-sunderland-a-891874.html</guid>
<content:encoded><![CDATA[<img src="http://www.spiegel.de/images/image-479050-thumbsmall-nkkg.jpg" hspace="5" align="left" >Der FC Sunderland stärkt den rechten Flügel: Der abstiegsbedrohte Premier-League-Club hat als Trainer Paolo Di Canio verpflichtet. Der Italiener hat einen zweifelhaften Ruf; während seiner aktiven Karriere jubelte er mit Hitlergruß und sagte: "Ich bin ein Faschist, aber kein Rassist."]]></content:encoded>
<enclosure type="image/jpeg" url="http://www.spiegel.de/images/image-479050-thumbsmall-nkkg.jpg"/>
</item>
<item>
<title>Pariser Museum: Dieb sägt Elefant des Sonnenkönigs Stoßzahn ab</title>
<link>http://www.spiegel.de/panorama/justiz/pariser-museum-dieb-saegt-elefant-des-sonnenkoenigs-stosszahn-ab-a-891879.html#ref=rss</link>
<description>Der Mann kam mit der Kettensäge. Ein 20-jähriger Einbrecher hat im Pariser Naturkundemuseum ein historisch wertvolles Elefantenskelett um einen Stoßzahn beraubt. Er konnte kurz danach verletzt gefasst werden.</description>
<pubDate>Mon, 01 Apr 2013 08:59:00 +0200</pubDate>
<guid>http://www.spiegel.de/panorama/justiz/pariser-museum-dieb-saegt-elefant-des-sonnenkoenigs-stosszahn-ab-a-891879.html</guid>
<content:encoded><![CDATA[<img src="http://www.spiegel.de/images/image-479052-thumbsmall-felu.jpg" hspace="5" align="left" >Der Mann kam mit der Kettensäge. Ein 20-jähriger Einbrecher hat im Pariser Naturkundemuseum ein historisch wertvolles Elefantenskelett um einen Stoßzahn beraubt. Er konnte kurz danach verletzt gefasst werden.]]></content:encoded>
<enclosure type="image/jpeg" url="http://www.spiegel.de/images/image-479052-thumbsmall-felu.jpg"/>
</item>
<item>
<title>Pol Pot und die Linken: Auf Austern mit dem Massenmörder</title>
<link>http://www.spiegel.de/kultur/literatur/rezension-pol-pots-laecheln-von-peter-froeberg-idling-a-890956.html#ref=rss</link>
<description>Solidarität mit der Revolution? 1978 besuchten vier Intellektuelle aus dem Westen das rote Kambodscha und hofierten den Steinzeit-Kommunisten Pol Pot. Nun zeigt ein kluges Buch, wie sie dazu kamen - stellvertretend für eine ganze Generation westlicher Linker, die dem Massenmörder huldigte.</description>
<pubDate>Mon, 01 Apr 2013 07:33:00 +0200</pubDate>
<guid>http://www.spiegel.de/kultur/literatur/rezension-pol-pots-laecheln-von-peter-froeberg-idling-a-890956.html</guid>
<content:encoded><![CDATA[<img src="http://www.spiegel.de/images/image-24381-thumbsmall-ucei.jpg" hspace="5" align="left" >Solidarität mit der Revolution? 1978 besuchten vier Intellektuelle aus dem Westen das rote Kambodscha und hofierten den Steinzeit-Kommunisten Pol Pot. Nun zeigt ein kluges Buch, wie sie dazu kamen - stellvertretend für eine ganze Generation westlicher Linker, die dem Massenmörder huldigte.]]></content:encoded>
<enclosure type="image/jpeg" url="http://www.spiegel.de/images/image-24381-thumbsmall-ucei.jpg"/>
</item>
</channel>
</rss>